
<!-- wrapper -->
<div class="wrapper">
  <!--sidebar-wrapper-->
  <app-sidebar></app-sidebar>
  <!--end sidebar-wrapper-->
  <!--header-->
  <app-navbar *ngIf="globalVariableService.isLogged" [userCon]="userConnected"></app-navbar>
  <!--end header-->
  <!--page-wrapper-->
  <router-outlet></router-outlet>
  <!--end page-wrapper-->
  <!--start overlay-->
  <div class="overlay toggle-btn-mobile"></div>
  <!--end overlay-->
  <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
  <!--End Back To Top Button-->
  <!--footer -->
  <app-footer></app-footer>
  <!-- end footer -->
</div>
<!-- end wrapper -->
<!--start switcher-->
<app-switcher></app-switcher>
