
<div class="modal-dialog modal-dialog-centered modal-lg-custom">

  <div class="modal-content card radius-15">
    <div class="modal-header">
      <h5 class="modal-title">Ajouter une affectation</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form name="form" [formGroup]="myFormAdd" (ngSubmit)="onAdd()">
      <div class="modal-body">
          <div class="row mb-3">
           <label class="col-sm-3 col-form-label">Atelier</label>
           <div class="col-sm-9">
             <ng-select placeholder="Selectionnez un atelier"
                        formControlName="ateliers" (change)="onValueChangeAtelier($event)" name="ateliers">
               <ng-option *ngFor="let atelier of ateliers" [value]="atelier">
                 {{atelier.designation}}</ng-option>
             </ng-select>
           </div>
         </div>
          <div class="row mb-3">
              <label class="col-sm-3 col-form-label mb-0">Employés</label>
              <div class="col-sm-9">
                <ng-select placeholder="Selectionnez les employés"
                           formControlName="employees"  [multiple]="true" (change)="onMaterialGroupChange($event)"  name="employees">
                  <ng-option *ngFor="let employe of listeEmploye" [value]="employe">
                    {{ employe.nom + ' - ' + employe.prenom }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          <div class="row mb-3">
          <label class="col-sm-3 col-form-label mb-0">Affaire</label>
          <div class="col-sm-9">
            <ng-select placeholder="Selectionnez une affaire"
                       formControlName="projets" (change)="onValueChangeAffaire($event)"  name="projets">
              <ng-option *ngFor="let affaire of projets" [value]="affaire" >
                {{affaire.code+'-'+affaire.designation}}</ng-option>
            </ng-select>
          </div>
        </div>

         <div class="row mb-3">
           <label class="col-sm-3 col-form-label mb-0">Article</label>
           <div class="col-sm-9">
             <ng-select placeholder="Selectionnez un article"
                        formControlName="article"  name="article">
               <ng-option *ngFor="let ofs of listeOFS" [value]="ofs.article" (change)="onMaterialGroupChange($event)">
                 {{ofs.numOF+'-'+ofs.article.designation}}</ng-option>
             </ng-select>
           </div>
         </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Date Affectation</label>
            <div class="col-sm-9">
              <input type="date" id="date" class="form-control"
                     placeholder="Sélectionnez la date" [attr.max]="today"
                     formControlName="date" (change)="onDateChange()">
            </div>
          </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label mb-0">Période</label>
          <div class="col-sm-9">
            <ng-select placeholder="Selectionnez une période"
                       formControlName="periode"
                       (change)="onValueChangePeriode($event)"
                       name="periode">
              <ng-option [value]="'Matin'">Matin</ng-option>
              <ng-option [value]="'Après-midi'">Après Midi</ng-option>
              <ng-option [value]="'Heures'">Heures</ng-option>
              <ng-option [value]="'Heures_Sup'">Heures_Sup</ng-option>
            </ng-select>
          </div>
        </div>

        <div class="row mb-3" *ngIf="showNombreHeures">
          <label class="col-sm-3 col-form-label">Nombre Heures</label>
          <div class="col-sm-9">
            <input type="number" id="nombreHeures" class="form-control"
                   placeholder="Entrez le nombre d'heures"
                   formControlName="nombreHeures">
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Fermer</button>
        <button type="submit" [disabled]="!myFormAdd.valid" class="btn btn-primary">Valider</button>
      </div>
    </form>
  </div>
</div>
