
<div class="modal-dialog modal-dialog-centered custom-modal">
    <div class="modal-content card radius-15">
        <div class="modal-header">
            <h5 class="modal-title">Changer mot de passe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form name="form" [formGroup]="myFormAdd" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Nouveau mot de passe</label>
                    <div class="col-sm-6">
                        <div class="input-group" id="show_hide_password">
                            <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                                   class="form-control border-end-0" id="password"
                                   autocomplete="off" placeholder="Entrez le mot de passe" required>
                            <a href="javascript:;" class="input-group-text bg-transparent" (click)="togglePasswordVisibility()">
                                <i [ngClass] ="showPassword ? 'bx bx-hide' : 'bx bx-show'"></i></a>
                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Confirmer le mot de passe</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input [type]="showconfirmPassword ? 'text' : 'password'" formControlName="confirmpassword"
                                   class="form-control border-end-0" id="confirmpassword"
                                   autocomplete="off" placeholder="Confirmez le mot de passe" required>
                            <a href="javascript:;" class="input-group-text bg-transparent" (click)="toggleConfirmPasswordVisibility()">
                                <i [ngClass] ="showPassword ? 'bx bx-hide' : 'bx bx-show'"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Fermer</button>
                <button type="submit" *ngIf="hasRoleGroup(ROLES_ADMIN)" [disabled]="!myFormAdd.valid" class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>
</div>
