
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card radius-15">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un utilisateur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" [formGroup]="myFormAdd" (ngSubmit)="onAdd()">
      <div class="modal-body">

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Nom d'utilisateur</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrez le nom d'utilisateur"
                   formControlName="username" autocomplete="off"
                   id="username" name="username" required>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Mot de passe</label>
          <div class="col-sm-9">
            <div class="input-group" id="show_hide_password">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                     class="form-control border-end-0" id="password"
                     autocomplete="off" placeholder="Entrez le mot de passe" required>
              <a href="javascript:;" class="input-group-text bg-transparent" (click)="togglePasswordVisibility()">
                <i [ngClass] ="showPassword ? 'bx bx-hide' : 'bx bx-show'"></i></a>
            </div>

          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Confirmation</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input [type]="showconfirmPassword ? 'text' : 'password'" formControlName="confirmpassword"
                     class="form-control border-end-0" id="confirmpassword" autocomplete="off"
                     placeholder="Confirmez le mot de passe" required>
              <a href="javascript:;" class="input-group-text bg-transparent" (click)="toggleConfirmPasswordVisibility()">
                <i [ngClass] ="showconfirmPassword ? 'bx bx-hide' : 'bx bx-show'"></i></a>
            </div>

          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrez le nom"
                   formControlName="nom" autocomplete="off"
                   id="nom" name="nom" required>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Prénom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrez le prénom"
                   formControlName="prenom" autocomplete="off"
                   id="prenom" name="prenom" required>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrez l'adresse email"
                   formControlName="email" autocomplete="off"
                   id="email" name="email" required>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Matricule</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Entrez le matricule"
                   formControlName="matricule" autocomplete="off"
                   id="matricule" name="matricule" required>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Session</label>
          <div class="col-sm-9">
            <ng-select formControlName="session"
                        name="session">
              <ng-option value="active" >Actif</ng-option>
              <ng-option value="inactive" >Inactif</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Roles</label>
          <div class="col-sm-9">
            <ng-select  placeholder="Selectionnez un role" [multiple]="true" formControlName="listeRoles"
                        name="selectName">

              <ng-option *ngFor="let role of listeRoles" [value]="role.name" (change)="onMaterialGroupChange($event)">
                {{role.name}}</ng-option>
            </ng-select>
          </div>

        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Ateliers</label>
          <div class="col-sm-9">
            <ng-select placeholder="Selectionnez un atelier" [multiple]="true" formControlName="listeAteliers"
                       name="listeAteliers">
              <ng-option *ngFor="let atelier of listeAteliers" [value]="atelier.id" (change)="onMaterialGroupChange($event)">
                {{atelier.designation}}</ng-option>
            </ng-select>
          </div>
        </div>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Fermer</button>
          <button type="submit" [disabled]="!myFormAdd.valid" class="btn btn-primary">Valider</button>
        </div>
      </form>
      </div>
    </div>
