
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content card radius-15">
    <div class="modal-header">
      <h5 class="modal-title">Supprimer une livraison</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form name="form" (ngSubmit)="onDelete()">
      <div class="modal-body">
        <div class="modal-body fs-6">
          Êtes vous sùre de vouloir supprimer n°
          <strong *ngIf="livraison!=null">{{livraison.id}}</strong> ?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Fermer</button>
        <button type="submit" *ngIf="hasRole(ROLES_ADMIN_LOGISTIQUE)" class="btn btn-primary">Supprimer</button>
      </div>
    </form>
  </div>
</div>
