
<div class="modal-dialog modal-dialog-centered modal-lg-custom">

  <div class="modal-content card radius-15">
    <div class="modal-header">
      <h5 class="modal-title">Ajouter un article</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form name="form" [formGroup]="myFormAdd" (ngSubmit)="onAdd()">
      <div class="modal-body">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Atelier</label>
          <div class="col-sm-9">
            <ng-select placeholder="Selectionnez un atelier"
                       formControlName="ateliers" (change)="onValueChangeAtelier($event)" name="ateliers">
              <ng-option *ngFor="let atelier of ateliers" [value]="atelier">
                {{atelier.designation}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label mb-0">Affaire</label>
          <div class="col-sm-9">
            <ng-select placeholder="Selectionnez une affaire"
                       formControlName="projet"  name="projet">
              <ng-option *ngFor="let affaire of projets" [value]="affaire" >
                {{affaire.code+'-'+affaire.designation}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Numéro de prix</label>
          <div class="col-sm-9">
            <input type="text" id="numPrix"  class="form-control"
                   formControlName="numPrix">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Désignation</label>
          <div class="col-sm-9">
            <input type="text" id="designation"  class="form-control"
                   formControlName="designation">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Unité</label>
          <div class="col-sm-9">
            <ng-select placeholder="Selectionnez une unité"
                       formControlName="unite"  name="unite">
              <ng-option *ngFor="let unite of units" [value]="unite" >
                {{unite}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Quantité</label>
          <div class="col-sm-9">
            <input type="number" id="quantiteTot"  class="form-control"
                   min="0.1"
                   formControlName="quantiteTot">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Fermer</button>
        <button type="submit" [disabled]="!myFormAdd.valid" class="btn btn-primary">Valider</button>
      </div>
    </form>
  </div>
</div>
